@using Logic.Models;
@{
    ViewData["Title"] = "Beoordelingen";
}
@model List<Klas>
<div class="beoordelingen-page">
    <h3>Klassenoverzicht</h3>
    <div class="content">
        <table>
            @foreach (var klas in Model)
            {
                <tr>
                    <td>@klas.Klasnaam</td>
                    <td>@Html.ActionLink("Studenten", "BekijkStudenten", "Beoordelingen", new { id = klas.Id })</td>
                </tr>
            }
        </table>
    </div>
</div>
