@using Logic.Enums;
@using Logic.Models;
@model List<Les>
@{
    ViewData["Title"] = "Lessen";
}

<div class="lessen-page">
    <h3>Lessenoverzicht</h3>
    <div class="content">
        <table>
            @foreach (var les in Model)
            {
                <tr>
                    <td>@les.Omschrijving</td>
                    <td>@Html.ActionLink("Leeruitkomsten", "Overzicht", "Lessen", new {id = les.Id, actionType = ControllerActionTypes.Leeruitkomsten})</td>
                    <td>@Html.ActionLink("Lesmaterialen", "Overzicht", "Lessen", new {id = les.Id, actionType = ControllerActionTypes.Lesmaterialen})</td>
                    <td>@Html.ActionLink("Planningen", "Overzicht", "Lessen", new {id = les.Id, actionType = ControllerActionTypes.Planningen})</td>
                </tr>
            }
        </table>
    </div>
</div>
