@using Logic.Models;
@model List<Opleiding>
@{
    ViewData["Title"] = "Lessen";
}

<div class="lessen-page">
    <h3>Lessenoverzicht</h3>
    <div class="content">
        <table>
            <tr>
                <td>Selecteer een opleiding</td>
            </tr>
            <tr>
                <td>Selecteer een opleiding</td>
            </tr>
        </table>
    </div>
</div>
