@{
    ViewData["Title"] = "Account";
}

<div class="account-page">
    <h3>Inloggen</h3>
    <div class="content">
        @using (Html.BeginForm("Login", "Account"))
        {
            <p>Email</p>
            @Html.TextBox("email")

            <p>Password</p>
            @Html.Password("password")

            <button class="btn btn-primary">Login</button>
        }
    </div>    
</div>
